.enroll-form{
    margin-top: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    max-height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 98%;
    padding-bottom: 50px;
}

.head{
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    border-bottom: 1px solid black;
    padding-left: 30px;
    gap: 2rem;
    font-size: larger;
    color: blue;
    width:98%;
}
.head button{
    background-color: blue;
    border: none;
    height: 30px;
    cursor: pointer;
    color: white;
    width: 80px;
}
.forms h2{
text-align: center;
margin-bottom: 20px;
}